<div class="container m-6">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="has-text-weight-bold has-text-centered mb-5">Password Generator</h1>
      <div class="field">
        <label class="label">Enter Length</label>
        <div class="control">
          <input class="input" (input)="onChangeLength($event)" min="1" max="20" type="number" />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeLetter()" />
            Use Letter
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeSymbols()" />
            Use Symbols
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeNumber()" />
            Use Number
          </label>
        </div>
      </div>

      <button class="button is-link is-fullwidth" [disabled]="!((letter || symbols || number) && length)"
        (click)="generatorPasswordClicked()">
        Generated
      </button>

      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>

    </div>
  </div>
</div>